@model Proyecto_CésarSilva1184519_JonnathanLanuza1082219.Models.Patients

@{
    ViewData["Title"] = "Create";
}

<h1>Make an appointment</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <p style="color:#ff0000">IF DPI NUMBER IS LESS THAN 13-DIGIT YOU MUST REGISTER AGAIN</p>
            <div class="form-group">
                <label asp-for="DPI" class="control-label"></label>
                <input asp-for="DPI" class="form-control" />
                <span asp-validation-for="DPI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="town" class="control-label"></label>
                <select name="town" required>
                    <option value="">Select an Option</option>
                    <option value="Coban">Coban</option>
                    <option value="SantaCruzVerapaz">Santa Cruz Verapaz</option>
                    <option value="SanCristobalVerapaz">San Cristobal Verapaz</option>
                    <option value="Tactic">Tactic</option>
                    <option value="SanMiguelTucuru">San Miguel Tucuru</option>
                    <option value="Panzoz">Panzoz</option>
                    <option value="Senahu">Senahu</option>
                    <option value="SanPedroCarcha">San Pedro Carcha</option>
                    <option value="SanJuanChamelco">San Juan Chamelco</option>
                    <option value="SanAgustinLanquin">San Agustin Lanquin</option>
                    <option value="SantaMariaCahabon">Santa Maria Cahabon</option>
                    <option value="Chisec">Chisec</option>
                    <option value="Chahal">Chahal</option>
                    <option value="FrayBartolomeDeLasCasas">Fray Bartolome De Las Casas</option>
                    <option value="SantaCatalinaLaTinta">Santa Catalina La Tinta</option>
                    <option value="Raxruha">Raxruha</option>
                    <option value="Salama">Salama</option>
                    <option value="SanMiguelChicaj">San Miguel Chicaj</option>
                    <option value="Rabinal">Rabinal</option>
                    <option value="Cubulco">Cubulco</option>
                    <option value="Granados">Granados</option>
                    <option value="SantaCruzElChol">Santa Cruz El Chol</option>
                    <option value="SanJeronimo">San Jeronimo</option>
                    <option value="Purulha">Purulha</option>
                    <option value="Chimaltenango">Chimaltenango</option>
                    <option value="SanJosePoaquil">San Jose Poaquil</option>
                    <option value="SanMartinJilotepeque">San Martin Jilotepeque</option>
                    <option value="SanJuanComalapa">San Juan Comalapa</option>
                    <option value="SantaApolonia">Santa Apolonia</option>
                    <option value="Tecpan">Tecpan</option>
                    <option value="Patzun">Patzun</option>
                    <option value="SanMiguelPochuta">San Miguel Pochuta</option>
                    <option value="Patzicia">Patzicia</option>
                    <option value="SantaCruzBalanya">Santa Cruz Balanya</option>
                    <option value="Acatenango">Acatenango</option>
                    <option value="SanPedroYepocapa">San Pedro Yepocapa</option>
                    <option value="SanAndresItzapa">San Andres Itzapa</option>
                    <option value="Parramos">Parramos</option>
                    <option value="Zaragoza">Zaragoza</option>
                    <option value="ElTejar">El Tejar</option>
                    <option value="Chiquimula">Chiquimula</option>
                    <option value="Jocotan">Jocotan</option>
                    <option value="Esquipulas">Esquipulas</option>
                    <option value="Camotan">Camotan</option>
                    <option value="Quezaltepeque">Quezaltepeque</option>
                    <option value="Olopa">Olopa</option>
                    <option value="Ipala">Ipala</option>
                    <option value="SanJuanHermita">San Juan Hermita</option>
                    <option value="ConcepcionLasMinas">Concepcion Las Minas</option>
                    <option value="SanJacinto">San Jacinto</option>
                    <option value="SanJoseLaArada">San Jose La Arada</option>
                    <option value="Flores">Flores</option>
                    <option value="SanJose">San Jose</option>
                    <option value="SanBenito">San Benito</option>
                    <option value="SanAndres">San Andres</option>
                    <option value="LaLibertad">La Libertad</option>
                    <option value="SanFrancisco">San Francisco</option>
                    <option value="SantaAna">Santa Ana</option>
                    <option value="Dolores">Dolores</option>
                    <option value="SanLuis">San Luis</option>
                    <option value="Sayaxche">Sayaxche</option>
                    <option value="MelchorDeMencos">Melchor De Mencos</option>
                    <option value="Poptun">Poptun</option>
                    <option value="ElJicaro">El Jicaro</option>
                    <option value="Morazan">Morazan</option>
                    <option value="SanAgustinAcasaguastlan">San Agustin Acasaguastlan</option>
                    <option value="SanAntonioLaPaz">San Antonio La Paz</option>
                    <option value="SanCristobalAcasaguastlan">San Cristobal Acasaguastlan</option>
                    <option value="Sanarate">Sanarate</option>
                    <option value="Guastatoya">Guastatoya</option>
                    <option value="Sansare">Sansare</option>
                    <option value="SantaCruzDelQuiche">Santa Cruz Del Quiche</option>
                    <option value="Chiche">Chiche</option>
                    <option value="Chinique">Chinique</option>
                    <option value="Zacualpa">Zacualpa</option>
                    <option value="Chajul">Chajul</option>
                    <option value="SantoTomasChichicastenango">Santo Tomas Chichicastenango</option>
                    <option value="Patzite">Patzite</option>
                    <option value="SanAntonioIlotenango">San Antonio Ilotenango</option>
                    <option value="SanPedroJocolipas">San Pedro Jocolipas</option>
                    <option value="Cunen">Cunen</option>
                    <option value="SanJuanCotzal">San Juan Cotzal</option>
                    <option value="SantaMariaJoyabaj">Santa Maria Joyabaj</option>
                    <option value="SantaMariaNebaj">Santa Maria Nebaj</option>
                    <option value="SanAndresSajcabaja">San Andres Sajcabaja</option>
                    <option value="Uspantan">Uspantan</option>
                    <option value="Sacapulas">Sacapulas</option>
                    <option value="SanBartolomeJocotenango">San Bartolome Jocotenango</option>
                    <option value="Canilla">Canilla</option>
                    <option value="Chicaman">Chicaman</option>
                    <option value="Ixcan">Ixcan</option>
                    <option value="Pachalum">Pachalum</option>
                    <option value="Escuintla">Escuintla</option>
                    <option value="SantaLuciaCotzumalguapa">Santa Lucia Cotzumalguapa</option>
                    <option value="LaDemocracia">La Democracia</option>
                    <option value="Siquinala">Siquinala</option>
                    <option value="Masagua">Masagua</option>
                    <option value="Tiquisata">Tiquisata</option>
                    <option value="LaGomera">La Gomera</option>
                    <option value="Guaganazapa">Guaganazapa</option>
                    <option value="SanJose">San Jose</option>
                    <option value="Iztapa">Iztapa</option>
                    <option value="Palin">Palin</option>
                    <option value="SanVicentePacaya">San Vicente Pacaya</option>
                    <option value="NuevaConcepcion">Nueva Concepcion</option>
                    <option value="SantaCatarinaPinula">Santa Catarina Pinula</option>
                    <option value="SanJosePinula">San Jose Pinula</option>
                    <option value="Guatemala">Guatemala</option>
                    <option value="SanJoseDelGolfo">San Jose Del Golfo</option>
                    <option value="Palencia">Palencia</option>
                    <option value="Chinautla">Chinautla</option>
                    <option value="SanPedroAyampuc">San Pedro Ayampuc</option>
                    <option value="Mixco">Mixco</option>
                    <option value="SanPedroSacatepequez">San Pedro Sacatepequez</option>
                    <option value="SanJuanSacatepequez">San Juan Sacatepequez</option>
                    <option value="Chuarrancho">Chuarrancho</option>
                    <option value="SanRaymundo">San Raymundo</option>
                    <option value="Fraijanes">Fraijanes</option>
                    <option value="Amatitlan">Amatitlan</option>
                    <option value="VillaNueva">Villa Nueva</option>
                    <option value="VillaCanales">Villa Canales</option>
                    <option value="SanMiguelPetapa">San Miguel Petapa</option>
                    <option value="Huehuetenango">Huehuetenango</option>
                    <option value="Chiantla">Chiantla</option>
                    <option value="Malacatancito">Malacatancito</option>
                    <option value="Cuilco">Cuilco</option>
                    <option value="Nenton">Nenton</option>
                    <option value="SanPedroNecta">San Pedro Necta</option>
                    <option value="Jacaltenango">Jacaltenango</option>
                    <option value="Soloma">Soloma</option>
                    <option value="Ixtahuacan">Ixtahuacan</option>
                    <option value="SantaBarbara">Santa Barbara</option>
                    <option value="LaLibertad">La Libertad</option>
                    <option value="LaDemocracia">La Democracia</option>
                    <option value="SanMiguelAcatan">San Miguel Acatan</option>
                    <option value="SanRafaelLaIndependencia">San Rafael La Independencia</option>
                    <option value="TodosSantosCuchumatan">Todos Santos Cuchumatan</option>
                    <option value="SanJuanAtitlan">San Juan Atitlan</option>
                    <option value="SantaEulalia">Santa Eulalia</option>
                    <option value="SanMateoIxtatan">San Mateo Ixtatan</option>
                    <option value="Colotenango">Colotenango</option>
                    <option value="SanSebastianHuehuetenango">San Sebastian Huehuetenango</option>
                    <option value="Tectitan">Tectitan</option>
                    <option value="ConcepcionHuista">Concepcion Huista</option>
                    <option value="SanJuanIxcoy">San Juan Ixcoy</option>
                    <option value="SanAntonioHuista">San Antonio Huista</option>
                    <option value="SantaCruzBarillas">Santa Cruz Barillas</option>
                    <option value="SanSebastianCoatan">San Sebastian Coatan</option>
                    <option value="Aguacatan">Aguacatan</option>
                    <option value="SanRafaelPetzan">San Rafael Petzan</option>
                    <option value="SanGasparIxchil">San Gaspar Ixchil</option>
                    <option value="SantiagoChimaltenango">Santiago Chimaltenango</option>
                    <option value="SantaAnaHuista">Santa Ana Huista</option>
                    <option value="Morales">Morales</option>
                    <option value="LosAmates">Los Amates</option>
                    <option value="Livingston">Livingston</option>
                    <option value="ElEstor">El Estor</option>
                    <option value="PuertoBarrios">Puerto Barrios</option>
                    <option value="Jalapa">Jalapa</option>
                    <option value="SanPedroPinula">San Pedro Pinula</option>
                    <option value="SanLuisJilotepeque">San Luis Jilotepeque</option>
                    <option value="SanManuelChaparron">San Manuel Chaparron</option>
                    <option value="SanCarlosAlzatate">San Carlos Alzatate</option>
                    <option value="Monjas">Monjas</option>
                    <option value="Mataquescuintla">Mataquescuintla</option>
                    <option value="Jutiapa">Jutiapa</option>
                    <option value="ElProgreso">El Progreso</option>
                    <option value="SantaCatarinaMita">Santa Catarina Mita</option>
                    <option value="AguaBlanca">Agua Blanca</option>
                    <option value="AsuncionMita">Asuncion Mita</option>
                    <option value="Yupiltepeque">Yupiltepeque</option>
                    <option value="Atescatempta">Atescatempta</option>
                    <option value="Jerez">Jerez</option>
                    <option value="ElAdelanto">El Adelanto</option>
                    <option value="Zapotitlan">Zapotitlan</option>
                    <option value="Comapa">Comapa</option>
                    <option value="Jalpatagua">Jalpatagua</option>
                    <option value="Conguaco">Conguaco</option>
                    <option value="Moyuta">Moyuta</option>
                    <option value="Pasaco">Pasaco</option>
                    <option value="Quesada">Quesada</option>
                    <option value="Quetzaltenango">Quetzaltenango</option>
                    <option value="Salcaja">Salcaja</option>
                    <option value="SanJuanOlitepeque">San Juan Olitepeque</option>
                    <option value="SanCarlosSija">San Carlos Sija</option>
                    <option value="Sibilia">Sibilia</option>
                    <option value="Cabrican">Cabrican</option>
                    <option value="Cajola">Cajola</option>
                    <option value="SanMiguelSiguila">San Miguel Siguila</option>
                    <option value="SanJuanOstuncalco">San Juan Ostuncalco</option>
                    <option value="SanMateo">San Mateo</option>
                    <option value="ConcepcionChiquirichapa">Concepcion Chiquirichapa</option>
                    <option value="SanMartinSacatepequez">San Martin Sacatepequez</option>
                    <option value="Almolonga">Almolonga</option>
                    <option value="Cantel">Cantel</option>
                    <option value="Huitan">Huitan</option>
                    <option value="Zunil">Zunil</option>
                    <option value="ColombaCostaCuca">Colomba Costa Cuca</option>
                    <option value="SanFranciscoLaUnion">San Francisco La Union</option>
                    <option value="ElPalmar">El Palmar</option>
                    <option value="Coatepeque">Coatepeque</option>
                    <option value="FloresCostaCuca">Flores Costa Cuca</option>
                    <option value="LaEsperanza">La Esperanza</option>
                    <option value="PalestinaDeLosAltos">Palestina De Los Altos</option>
                    <option value="Retalhuleu">Retalhuleu</option>
                    <option value="SanSebastian">San Sebastian</option>
                    <option value="SantaCruzMulua">Santa Cruz Mulua</option>
                    <option value="SanMartinZapotitlan">San Martin Zapotitlan</option>
                    <option value="SanFelipe">SanF elipe</option>
                    <option value="SanAndresVillaSeca">San Andres Villa Seca</option>
                    <option value="Champerico">Champerico</option>
                    <option value="NuevoSanCarlos">Nuevo San Carlos</option>
                    <option value="ElAsintal">El Asintal</option>
                    <option value="AntiguaGuatemala">Antigua Guatemala</option>
                    <option value="Jocotenango">Jocotenango</option>
                    <option value="Pastores">Pastores</option>
                    <option value="Sumpango">Sumpango</option>
                    <option value="SantoDomingoXenacoj">Santo Domingo Xenacoj</option>
                    <option value="SantiagoSacatepequez">Santiago Sacatepequez</option>
                    <option value="SanBartolomeMilpasAltas">San Bartolome Milpas Altas</option>
                    <option value="MagdalenaMilpasAltas">Magdalena Milpas Altas</option>
                    <option value="SanLucasSacatepequez">San Lucas Sacatepequez</option>
                    <option value="SantaLuciaMilpasAltas">Santa Lucia Milpas Altas</option>
                    <option value="SantaMariaDeJesus">Santa Maria De Jesus</option>
                    <option value="CiudadVieja">Ciudad Vieja</option>
                    <option value="SanMiguelDueñas">San Miguel Dueñas</option>
                    <option value="SanJuanAlotenango">San Juan Alotenango</option>
                    <option value="SanAntonioAguasCalientes">San Antonio Aguas Calientes</option>
                    <option value="SantaCatarinaBarahona">Santa Catarina Barahona</option>
                    <option value="SanMarcos">San Marcos</option>
                    <option value="Ayutla">Ayutla</option>
                    <option value="Catarina">Catarina</option>
                    <option value="Comitancillo">Comitancillo</option>
                    <option value="ConcepcionTutuapa">Concepcion Tutuapa</option>
                    <option value="ElQuetzal">El Quetzal</option>
                    <option value="ElRodeo">El Rodeo</option>
                    <option value="ElTumblador">El Tumblador</option>
                    <option value="Ixchiguan">Ixchiguan</option>
                    <option value="LaReforma">La Reforma</option>
                    <option value="Malacatan">Malacatan</option>
                    <option value="NuevoProgreso">Nuevo Progreso</option>
                    <option value="Ocos">Ocos</option>
                    <option value="Pajapita">Pajapita</option>
                    <option value="EsquipulasPaloGordo">Esquipulas Palo Gordo</option>
                    <option value="SanAntonioSacatepequez">San Antonio Sacatepequez</option>
                    <option value="SanCristobalCucho">San Cristobal Cucho</option>
                    <option value="SanJoseOjetenam">San Jose Ojetenam</option>
                    <option value="SanLorenzo">San Lorenzo</option>
                    <option value="SanMiguelIxtahuacan">San Miguel Ixtahuacan</option>
                    <option value="SanPablo">San Pablo</option>
                    <option value="SanPedroSacatepequez">San Pedro Sacatepequez</option>
                    <option value="SanRafelPieDeLaCuesta">San Rafel Pie De La Cuesta</option>
                    <option value="Sibinal">Sibinal</option>
                    <option value="Sipacapa">Sipacapa</option>
                    <option value="Tacana">Tacana</option>
                    <option value="Tajumulco">Tajumulco</option>
                    <option value="Tejutla">Tejutla</option>
                    <option value="RioBlanco">Rio Blanco</option>
                    <option value="LaBlanca">La Blanca</option>
                    <option value="Culiapa">Culiapa</option>
                    <option value="CastillasSantaRosa">Castillas Santa Rosa</option>
                    <option value="Chiquimulilla">Chiquimulilla</option>
                    <option value="Guazacapan">Guazacapan</option>
                    <option value="NuevaSantaRosa">Nueva Santa Rosa</option>
                    <option value="Oratorio">Oratorio</option>
                    <option value="PuebloNuevoViñas">Pueblo Nuevo Viñas</option>
                    <option value="SanJuanTecuaco">San Juan Tecuaco</option>
                    <option value="SanRafaelLasFlores">San Rafael Las Flores</option>
                    <option value="SantaCruzNaranjo">Santa Cruz Naranjo</option>
                    <option value="SantaMariaIxhuatan">Santa Maria Ixhuatan</option>
                    <option value="SantaRosaDeLima">Santa Rosa De Lima</option>
                    <option value="Taxisco">Taxisco</option>
                    <option value="Barberena">Barberena</option>
                    <option value="Solola">Solola</option>
                    <option value="Concepcion">Concepcion</option>
                    <option value="Nahuala">Nahuala</option>
                    <option value="Panajachel">Panajachel</option>
                    <option value="SanAndresSemetabaj">San Andres Semetabaj</option>
                    <option value="SanAntonioPalopo">San Antonio Palopo</option>
                    <option value="SanJoseChacaya">San Jose Chacaya</option>
                    <option value="SanJuanLaLaguna">San Juan La Laguna</option>
                    <option value="SanJuanToliman">San Juan Toliman</option>
                    <option value="SanMarcosLaLaguna">San Marcos La Laguna</option>
                    <option value="SanPabloLaLaguna">San Pablo La Laguna</option>
                    <option value="SanPedroLaLaguna">San Pedro La Laguna</option>
                    <option value="SantaCatarinaIxtahuacan">Santa Catarina Ixtahuacan</option>
                    <option value="SantaCatarinaPalopo">Santa Catarina Palopo</option>
                    <option value="SantaClaraLaLaguna">Santa Clara La Laguna</option>
                    <option value="SantaCruzLaLaguna">Santa Cruz La Laguna</option>
                    <option value="SantaLuciaUtatlan">Santa Lucia Utatlan</option>
                    <option value="SantaMariaVisitacion">Santa Maria Visitacion</option>
                    <option value="SantiagoAtitlan">Santiago Atitlan</option>
                    <option value="Mazatenango">Mazatenango</option>
                    <option value="Cuyotenango">Cuyotenango</option>
                    <option value="SanFranciscoZapotitlan">San Francisco Zapotitlan</option>
                    <option value="SanBernardino">San Bernardino</option>
                    <option value="SanJoseElIdolo">San Jose El Idolo</option>
                    <option value="SantoDomingoSuchitepequez">Santo Domingo Suchitepequez</option>
                    <option value="SanLorenzo">San Lorenzo</option>
                    <option value="Samayac">Samayac</option>
                    <option value="SanPabloJocopilas">San Pablo Jocopilas</option>
                    <option value="SanAntonioSuchitepequez">San Antonio Suchitepequez</option>
                    <option value="SanMiguelPanan">San Miguel Panan</option>
                    <option value="SanGabriel">San Gabriel</option>
                    <option value="Chicacao">Chicacao</option>
                    <option value="Patulul">Patulul</option>
                    <option value="SantaBarbara">Santa Barbara</option>
                    <option value="SanJuanBautista">San Juan Bautista</option>
                    <option value="SantoTomasLaUnion">Santo Tomas La Union</option>
                    <option value="Zunilito">Zunilito</option>
                    <option value="PuebloNuevo">Pueblo Nuevo</option>
                    <option value="RioBravo">Rio Bravo</option>
                    <option value="Totonicapan">Totonicapan</option>
                    <option value="SanCristobalTotonicapan">San Cristobal Totonicapan</option>
                    <option value="SanFranciscoElAlto">San Francisco El Alto</option>
                    <option value="SanAndresXecul">San Andres Xecul</option>
                    <option value="Momostenango">Momostenango</option>
                    <option value="SantaMariaChiquimula">Santa Maria Chiquimula</option>
                    <option value="SantaLuciaLaReforma">Santa Lucia La Reforma</option>
                    <option value="SanBartolo">San Bartolo</option>
                    <option value="Cabañas">Cabañas</option>
                    <option value="Estanzuela">Estanzuela</option>
                    <option value="Gualan">Gualan</option>
                    <option value="Huite">Huite</option>
                    <option value="LaUnion">La Union</option>
                    <option value="RioHondo">Rio Hondo</option>
                    <option value="SanJorge">San Jorge</option>
                    <option value="SanDiego">San Diego</option>
                    <option value="Teculutan">Teculutan</option>
                    <option value="Usumatlan">Usumatlan</option>
                    <option value="Zacapa">Zacapa</option>
                </select>
                <span asp-validation-for="town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <select name="Department" required>
                    <option value="">Select an Option</option>
                    <option value="AltaVerapaz">Alta Verapaz</option>
                    <option value="BajaVerapaz">Baja Verapaz</option>
                    <option value="Chimaltenango">Chimaltenango</option>
                    <option value="Chiquimula">Chiquimula</option>
                    <option value="Guatemala">Guatemala</option>
                    <option value="ElProgreso">El Progreso</option>
                    <option value="Escuintla">Escuintla</option>
                    <option value="Huehuetenango">Huehuetenango</option>
                    <option value="Izabal">Izabal</option>
                    <option value="Jalapa">Jalapa</option>
                    <option value="Jutiapa">Jutiapa</option>
                    <option value="Peten">Peten</option>
                    <option value="Quetzaltenango">Quetzaltenango</option>
                    <option value="Quiché">Quiché</option>
                    <option value="Retalhuleu">Retalhuleu</option>
                    <option value="Sacatepequez">Sacatepequez</option>
                    <option value="SanMarcos">San Marcos</option>
                    <option value="SantaRosa">Santa Rosa</option>
                    <option value="Solola">Solola</option>
                    <option value="Suchitepequez">Suchitepequez</option>
                    <option value="Totonicapan">Totonicapan</option>
                    <option value="Zacapa">Zacapa</option>
                </select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select name="Priority" required>
                    <option value="">Select an Option</option>
                    <option value="1">Health Personnel</option>
                    <option value="2a">Age over 70</option>
                    <option value="2b">Age between 51 and 70</option>
                    <option value="3">Essential worker</option>
                    <option value="4">Age between 18 and 50</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
