@model IEnumerable<Proyecto_CésarSilva1184519_JonnathanLanuza1082219.Models.Patients>

@{
    ViewData["Title"] = "Index";
}
<h4>Simulation OFF</h4>
<h1>Proyect Vaccination COVID-19 / 2021</h1>
<h2>USER MANUAL</h2>
<b><p style="color:#ff004b">Vaccine Management Program Against Covid 19 of 2021</p></b>
<b><p style="color:#b200ff">In the following document we'll explain how to correctly use the following program, we're gonna show the necessary information in spanish.</p></b>
<b><p style="color:#b200ff">This in order to appeal and to be easily understandable by our fellow citizens in the different towns of the country.</p></b>
<a href="https://www.youtube.com/watch?v=VAaGdrcjk5Q">How to use the program</a>
<b><p style="color:#b200ff">To start utilizing the simulation please:</p></b>
<b><p style="color:#48e030">↓ CLICK HERE TO BEGIN SIMULATION</p></b>
<p><a asp-action="Simulation">Begin simulation</a></p>
<b><p style="color:#ff6a00">To return to this page, stop the simulation in the bottom of the following page.</p></b>
