@model IEnumerable<Proyecto_CésarSilva1184519_JonnathanLanuza1082219.Models.Patients>

@{
    ViewData["Title"] = "Index";
}
<h4>Simulation OFF</h4>
<h1>Proyect Vaccination COVID-19 / 2021</h1>
<h2>USER MANUAL</h2>
<p style="color:#ff004b">vaccine management program against covid 19 of 2021</p>
<a href="https://www.youtube.com/watch?v=VAaGdrcjk5Q">Guide</a>
<p style="color:#48e030">↓ CLICK HERE TO BEGIN SIMULATION</p>
<p>
    <a asp-action="Simulation">Begin simulation</a>
</p>